#movieCard {
  .movieCard {
    width: 300px;
    border: 2px solid black;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
      width: 100%;
      img{
        width: 100%;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
    }
     h2{
       font-size: 20px;
       font-weight: 700;
       padding: 20px 0 10px 0;
     }
    h5{
      font-size: 15px;
      font-weight: 700;
      padding: 0 0 10px 0;
    }
  }
}